[FORMAT]
max-line-length=192
good-names=c,s,l,n,m,x,y,z,i,j,q,e

[DESIGN]
class-naming-style=snake_case
max-args=10
max-attributes=20
max-locals=20
max-statements=64
max-public-methods=25
max-module-lines=2000
max-branches=20

[MESSAGES CONTROL]
disable=redefined-builtin,redefined-outer-name,protected-access,consider-using-dict-items,no-self-use
