[FORMAT]
max-line-length=192
good-names=c,s,l,n,m,x,y,z,i,j,q,e

[DESIGN]
class-naming-style=snake_case
max-args=10
max-attributes=20
max-locals=25
max-statements=64
max-public-methods=25
max-module-lines=2000
max-branches=25

[MESSAGES CONTROL]
disable=protected-access,too-many-positional-arguments
